@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

// primary
$primary-100: #F5FEE7;
$primary-200: #E8FEC5;
$primary-300: #C0FA73;
$primary-400: #57A203;
$primary-500: #477A11;

// neutral
$neutral-0: #FFFFFF;
$neutral-100: #F8F9FA;
$neutral-200: #E9ECEF;
$neutral-300: #DEE2E6;
$neutral-400: #CED4DA;
$neutral-500: #ADB5BD;
$neutral-600: #6C757D;
$neutral-700: #495057;    
$neutral-800: #343A40;   
$neutral-900: #212529; 

// danger
$danger-100: #FCF1F1;
$danger-200: #EBA7A7;
$danger-300: #D74F4F;


*, *::before, *::after {
    box-sizing: border-box;
    //outline: auto;
}

.container {
    margin: 0 auto;
    padding: 0 .75rem;
    max-width: 1320px;

    @media (max-width: 1400px) {
        max-width: 1140px;
    }

    @media (max-width: 1200px) {
        max-width: 960px;
    }

    @media (max-width: 992px) {
        max-width: 720px;
    }

    @media (max-width: 768px) {
        max-width: 540px;
    }
}

.d-flex, .row, .pagination {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.row {
    flex-wrap: wrap;
    margin: 0 -.75rem;
}

.row>* {
    max-width: 100%;
    padding: 0 .75rem;
}

.row.g-1>* {
    padding: 0 .25rem;
}

.col-2 {
    width: calc(100%/12 * 2);

    @media (max-width: 1200px) {
        width: 100%;
    }
}

.col-3 {
    width: calc(100%/12 * 3)
}

.col-4 {
    width: calc(100%/3);
}

.col-5 {
    width: calc(100%/12 * 5);

    @media (max-width: 1200px) {
        width: 100%;
    }
}

.col-6 {
    width: calc(100%/2);

    @media (max-width: 1200px) {
        width: calc(100%/12 * 3);
    }

    @media (max-width: 768px) {
        width: calc(100%/2);
    }
}

@media (max-width: 768px) {
    .col-sm-6 {
        width: calc(100% / 2);
    }
}

.col-7 {
    width: calc(100%/12 * 7);

    @media (max-width: 1200px) {
        width: 100%;
    }
}

.col-10 {
    width: calc(100%/12 * 10);

    @media (max-width: 1200px) {
        width: 100%;
    }
}

.mx-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.ml-2 {
    margin-left: .5rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.mr-5 {
    margin-right: 3rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-2y {
    margin-bottom: .75rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-4y {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.px-2 {
    padding: 0 .5rem;
}

.pr-4 {
    padding-right: 1.5rem;

    @media (max-width: 1200px) {
        padding-right: 0;
    }
}

.py-3 {
    padding: 1rem 0;
}

.py-4 {
    padding: 1.5rem 0;
}

.py-5 {
    padding: 3rem 0;
}

.text-center {
    text-align: center;
}

.h2, .h3, .h4, .h5, .h6, p, span, li, a, .btn {
    color: $neutral-900;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.05em;
}

.h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.2;
}

p, span, li, a, .btn {
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

a, img {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    border: 0;
    border-radius: .25rem;
    padding: .75rem 1.5rem;
    background: initial;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.navbar-nav .nav-item {
    &:first-child {
        margin-right: 2.5rem;
    }

    .nav-link {
        padding: .75rem 0;
        transition: .3s;

        &:hover {
            color: $neutral-600;
        }
    }     
}

.header {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(3px);
    z-index: 5;

    .member {
        padding: .75rem;
        font-family: initial;
        font-size: 1.5rem;
        line-height: 0;
        letter-spacing: 0;
        text-align: center;

        &:hover {
            color: $primary-400;
        }

        @media (max-width: 576px) {
            position: absolute;
            right: .75rem;
            top: .75rem;
        }
    }

    @media (max-width: 576px) {
        padding: 0;

        .container {
            padding: 0
        }
        
        .d-flex {
            position: relative;
            flex-wrap: wrap;
        }

        .logo {
            margin: .75rem;
        }

        .navbar-nav {
            width: 100%;

            .nav-item {
                margin: 0;
                width: calc(100% /2);
                text-align: center;
                background: $primary-200;

                &:last-child {
                    background: $primary-100;
                }
            }
        }
    }
}

.product {
    padding: 2rem 0;

    .h3 {
        padding: 7px 0;
        font-size: 1.75rem;
    }

    .nav .nav-item {
        margin-bottom: 1rem;
        
        .nav-link {
            padding: .75rem 0;
            transition: .3s;
    
            &:hover, &.active {
                color: $primary-400;
            }
        }
    }

    @media (max-width: 1200px) {
        .nav {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: .75rem;

            .nav-item {
                margin: 0 .5rem;

                &:first-child {
                    margin-left: 0;
                }

                @media (max-width: 768px) {
                    margin: 0;
                    width: calc(100% /2);
                }
            }
        }
    }

    .page-item {
        margin: 0 .25rem;
        max-width: 40px;
        width: 100%;

        &:first-child {
            margin-right: .5rem;
        }

        &:last-child {
            margin-left: .5rem;
        }

        .arrow {
            padding: .625rem;
            font-family: initial;
            font-size: 1.25rem;
            line-height: 0;
            letter-spacing: 0;
            text-align: center;
            transition: .3s;

            &.disabled, &.disabled:hover {
                color: $neutral-900;
                cursor: default;
                opacity: .4;
            }

            &:hover {
                color: $primary-400;
            }
        }

        .page-link {
            padding: .5rem 0;
            text-align: center;

            &:hover {
                background: $neutral-100;
            }

            &.active, &:active {
                background: $primary-300;
            }
        }
    }
}

.breadcrumb .breadcrumb-item {
    display: flex;
    color: $neutral-900;

    a {
        margin-right: .75rem;
        color: $neutral-600;

        &:hover {
            color: $primary-400;
        }
    }

    &::before {
        content: "/";
        margin-right: .75rem;
        color: $neutral-300;
        font-weight: 700;
        letter-spacing: 0;
    }

    &:first-child:before {
        display: none;
    }
}

.product-item {
    .product-img {
        transition: .5s;
    }

    &:hover .product-img {
        opacity: .75;
    }

    .product-body {
        margin-top: .75rem;
    }
}

.product-info {
    padding: 4rem 0;

    @media (max-width: 1200px) {
        padding: 2rem 0;

        .product-images {
            margin-bottom: 1rem;
        }
    }

    .h2 {
        font-size: 2rem;
    }

    .h5 {
        color: $primary-400;
        font-size: 1.25rem;

        .price {
            color: $neutral-500;
            font-size: .875rem;
            font-weight: initial;
            line-height: 1.5;
        }
    }

    .product-color {

        li {
            max-width: 64px;

            p {
                color: $neutral-600;
            }
        }
    }

    .text-intro, .text-last {
        font-weight: initial;
    }

    .text-last {
        color: $danger-300;
    }
    
    .product-size-btn {
        padding-right: 1.375rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        @media (max-width: 1200px) {
            padding-right: 0;
            justify-content: space-between;
        }

        .btn {
            border: 1px solid $neutral-300;
            width: calc(100%/3 - .5rem);
            padding: 0;
            padding-top: calc(.75rem - 1px);
            padding-bottom: calc(.75rem - 1px);

            @media (max-width: 576px) {
                width: calc(100%/2 - .5rem);
            }

            &:hover {
                border: 1px solid $neutral-600;
            }

            &.active, &:active {
                border: 1px solid $neutral-900;
            }

            &.disabled, &.disabled:hover {
                border: 1px solid $neutral-300;
                opacity: .4;
                cursor: not-allowed;
            }
        }
    }

    .product-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .btn {
            border: 1px solid $neutral-900;
            padding-top: calc(.75rem - 1px);
            padding-bottom: calc(.75rem - 1px);
            width: calc(100%/2);
            font-size: 1.25rem;
            font-family: initial;
            line-height: 0;
            letter-spacing: 0;

            @media (max-width: 576px) {
                width: 100%;
            }

            span {
                font-size: initial;
                margin-left: .25rem;
            }

            &:hover, &.btn-dark {
                color: $neutral-0;
                background: $neutral-900;

                span {
                    color: $neutral-0;
                }
            }

            &.btn-dark:hover {
                background: $neutral-700;
            }
        }
    }

    .product-matters-item {
        border-bottom: 1px solid $neutral-300;
        padding-top: .75rem;
        padding-bottom: calc(.75rem - 1px);

        li {
            color: $neutral-600;
            font-weight: initial;
        }
    }
}

.best-seller {
    .h4 {
        padding: 9.5px 0;
        font-size: 1.5rem;
    }
}

.register-member {
    background: $primary-200;

    .h4 {
        font-size: 1.5rem;

        @media (max-width: 576px) {
            margin-bottom: 1.5rem;
            margin-right: 0;
            width: 100%;
            text-align: center;
        }
    }

    .btn {
        color: $neutral-0;
        background: $neutral-900;

        &:hover {
            background: $neutral-700;
        }
    }

    @media (max-width: 576px) {
        padding: 1.5rem .75rem;

        .d-flex {
            flex-wrap: wrap;
        }
    }
}

.footer {
    padding: 4rem 0;
    background: $neutral-100;

    .copyright {
        border-top: 1px solid $neutral-300;
        padding-top: calc(2rem - 1px);

        p {
            color: $neutral-600;
            font-size: .875rem;
            font-weight: initial;
        }
    }

    @media (max-width: 576px) {
        .d-flex {
            flex-wrap: wrap;
        }

        .navbar-nav {
            padding: 0 .75rem;
            width: 100%;

            .nav-item {
                margin-right: 0;
                width: 100%;
            }
        }
    }
}