@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

h4, p {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    max-width: 640px;

    .news-list {
        display: flex;

        ul {

            li {
                display: flex;
                margin-bottom: 1.5rem;

                .news-ad {
                    max-width: 96px;     
                }
            }
        }
        .news-content {
            margin: 0 1.25rem;
        }
        .news-ad {
            max-width: 216px;
        }
    }

    .news-bottom {
        padding: 3rem 0;
        background: #ffc68c;
        p {
            text-align: center;
        }
    }
}
