<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kata</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <section class="container">
        <div class="news-list">
            <ul>
                <li>
                    <div class="news-ad">
                        <img src="images/photo-01.jpg" alt="cat1">
                    </div>
                    <div class="news-content">
                        <h4>Title lorem</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti impedit similique!</p>
                    </div>
                </li>
                <li>
                    <div class="news-ad">
                        <img src="images/photo-02.jpg" alt="cat2">
                    </div>
                    <div class="news-content">
                        <h4>Title lorem</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti impedit similique!</p>
                    </div>
                </li>
            </ul>
            <div class="news-ad">
                <img src="images/photo-03.jpg" alt="cat3">
            </div>
        </div>
        <div class="news-bottom">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </section>
</body>
</html>